/*
 * pwix:plus-button/src/client/components/PlusButton.less
 */

.PlusButton {
    margin: 1em;
}

.PlusButton button.CIRCLE {
    border-radius: 2em;
    padding: 0.735em 0.845em;
}

.PlusButton button {
    white-space: nowrap;
}
